@model ProductVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Product.Id == 0 ? "Create" : "Update") product</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                    <input asp-for="Product.Title" placeholder="Title" class="form-control"/>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                    <textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <input type="file" asp-for="Product.ImageUrl" name="file" id="uploadBox" class="form-control"/>
                </div>
                <div class="mb-3 col-6">
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    <input asp-for="Product.ISBN" placeholder="ISBN" class="form-control"/>
                </div>
                <div class="mb-3 col-6">
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                    <input asp-for="Product.Author" placeholder="Author" class="form-control"/>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                    <input asp-for="Product.Price" placeholder="Price" class="form-control"/>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Product.CategoryModelId" class="text-danger"></span>
                    <select asp-for="Product.CategoryModelId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select category--</option>
                    </select>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Product.CoverTypeModelId" class="text-danger"></span>
                    <select asp-for="Product.CoverTypeModelId" asp-items="@Model.CoverTypeList" class="form-select">
                        <option disabled selected>--Select cover type--</option>
                    </select>
                </div>
                <div class="col-6">
                    @if (Model.Product.Id == 0)
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">
                            Create
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">
                            Update
                        </button>
                    }
                    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to list
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2 pt-4">
            <img src="@Model.Product.ImageUrl"
            style="width:100%; border-radius:5px; border:1px solid #78c2ad" />
        </div>
    </div> 
</form>

@section Scripts
{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }

    <script>
         tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
            toolbar_mode: 'floating',
        });

        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!'
                });

                return false;
            }

            return true;
        }
    </script>
}