@model CompanyModel

<form method="post">
    <input asp-for="Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Id == 0 ? "Create" : "Update") product</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input asp-for="Name" placeholder="Name" class="form-control" />
                </div>
                <div class="mb-3">
                    <span asp-validation-for="City" class="text-danger"></span>
                    <input asp-for="City" placeholder="City" class="form-control" />
                </div>
                <div class="mb-3">
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    <input asp-for="StreetAddress" placeholder="Street address" class="form-control" />
                </div>
                <div class="mb-3">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                    <input asp-for="PostalCode" placeholder="Postal code" class="form-control" />
                </div>
                <div class="mb-3">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <input asp-for="PhoneNumber" placeholder="Phone number" class="form-control" />
                </div>
                <div class="col-6">
                    @if (Model.Id == 0)
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">
                            Create
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">
                            Update
                        </button>
                    }
                    <a asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to list
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>