@model CategoryModel

<form method="post">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Id == 0 ? "Create" : "Update") category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" placeholder="Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            <input asp-for="DisplayOrder" placeholder="Order" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">
            @(Model.Id == 0 ? "Create" : "Update")
        </button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}